# Database
MONGODB_URI=mongodb://localhost:27017/eliteestate
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Server
PORT=3000
NODE_ENV=development

# Real Email SMTP Settings (For Nodemailer to send actual emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=EliteEstate Pro <your-email@gmail.com>